body{
    /* background-image: url('bg.jpg');*/
    background-repeat: no-repeat;
    background-position: top;
}

form{
    width: 600px;
    
}

.card{
    background-color: rgb(255, 153, 0);
}

.card-link{
    text-decoration: none;
}

.card-link>.card:hover{
    background-color: rgb(190, 114, 0);
}