<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" 
        crossorigin="anonymous">

    <link rel="stylesheet" href=" {{ url_for('static', filename='style.css') }}">
    <title>Webshop - {{ title }}</title>
</head>
<body>
    
    <nav class="navbar bg -dark navbar-expand-lg bg-body-tertiary"
    data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('kezdolap')}}">Rács Róbert Fazekasmester </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{{ url_for('kezdolap')}}" >Kezdőlap</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('galeria')}}" >Galéria</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('kapcsolat')}}" >Kapcsolat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('create')}}" >Áru hozzáadása</a>
                    </li>
                </ul>
                <div class="d-flex"> 
                    {% if current_user.is_authenticated %}
                        <a type="button" class="btn btn-outline-secondary" href="{{url_for('account')}}">
                            Felhasználói fiók
                        </a>
                        <a type="button" class="btn btn-outline-primary ms-3" href="{{ url_for('logout')}}">
                            Kijelentkezés
                        </a>
                    {% else %}
                        <a type="button" class="btn btn-outline-secondary" href="{{ url_for('register')}}">
                        Regisztráció
                        </a>
                        <a type="button" class="btn btn-outline-primary ms-3" href="{{ url_for('login')}}" >
                        Bejelentkezés
                        </a>
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </nav>
    
    <div class="container">
        <div class="col-md-8 mt-3">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                            {{ message }}    
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        {% block content  %}
        {% endblock content  %}

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous">
    </script>
</body>
</html>